{% templatetag openblock %} load assets {% templatetag closeblock %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Foundation 4</title>
    <!-- css style -->
    {% templatetag openblock %} assets output="gen/style.css", "css/app.css" {% templatetag closeblock %}
        <link rel="stylesheet" href="{% templatetag openvariable %} ASSET_URL {% templatetag closevariable %}">
    {% templatetag openblock %} endassets {% templatetag closeblock %}

    <!-- vendor js libs -->
    <script type="text/javascript" src="{% templatetag openblock %} url 'jsroutes' {% templatetag closeblock %}"></script>
    {% templatetag openblock %} assets output="gen/vendor.js", "foundation/js/vendor/custom.modernizr.js", "jquery/jquery.js" {% templatetag closeblock %}
        <script type="text/javascript" src="{% templatetag openvariable %} ASSET_URL {% templatetag closevariable %}"></script>
    {% templatetag openblock %} endassets {% templatetag closeblock %}
    {% templatetag openblock %} block extrahead {% templatetag closeblock %}
    {% templatetag openblock %} endblock {% templatetag closeblock %}
</head>
<body>
    {% templatetag openblock %} include 'top-menu.html' {% templatetag closeblock %}
    {% templatetag openblock %} block content {% templatetag closeblock %}
        <div class="row">
            <div class="large-8 columns">
                <h3>The Grid</h3>
                <!-- Grid Example -->
                <div class="row">
                    <div class="large-12 columns">
                        <div class="panel">
                            <p>This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <div class="panel">
                            <p>Six columns</p>
                        </div>
                    </div>
                    <div class="large-6 columns">
                        <div class="panel">
                            <p>Six columns</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <div class="panel">
                            <p>Four columns</p>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <div class="panel">
                            <p>Four columns</p>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <div class="panel">
                            <p>Four columns</p>
                        </div>
                    </div>
                </div>
                <h3>Buttons</h3>
                <div class="row">
                    <div class="large-6 columns">
                        <p><a href="#" class="small button">Small Button</a></p>
                        <p><a href="#" class="button">Medium Button</a></p>
                        <p><a href="#" class="large button">Large Button</a></p>
                    </div>
                    <div class="large-6 columns">
                        <p><a href="#" class="small alert button">Small Alert Button</a></p>
                        <p><a href="#" class="success button">Medium Success Button</a></p>
                        <p><a href="#" class="large secondary button">Large Secondary Button</a></p>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <h4>Getting Started</h4>
                <p>We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>
                <h4>Other Resources</h4>
                <p>Once you've exhausted the fun in this document, you should check out:</p>
                <ul class="disc">
                    <li><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</li>
                    <li><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</li>
                    <li><a href="http://twitter.com/foundationzurb">@foundationzurb</a><br />Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</li>
                </ul>
            </div>
        </div>
    {% templatetag openblock %} endblock {% templatetag closeblock %}
    {% templatetag openblock %} assets output="gen/packed.js", "foundation/js/foundation/foundation.js", "foundation/js/foundation/foundation.dropdown.js", "foundation/js/foundation/foundation.orbit.js", "foundation/js/foundation/foundation.clearing.js", "foundation/js/foundation/foundation.reveal.js", "foundation/js/foundation/foundation.cookie.js", "foundation/js/foundation/foundation.cookie.js", "foundation/js/foundation/foundation.magellan.js", "foundation/js/foundation/foundation.placeholder.js", "foundation/js/foundation/foundation.forms.js", "foundation/js/foundation/foundation.abide.js", "foundation/js/foundation/foundation.alerts.js", "foundation/js/foundation/foundation.joyride.js", "foundation/js/foundation/foundation.topbar.js", "foundation/js/foundation/foundation.interchange.js", "foundation/js/foundation/foundation.section.js", "foundation/js/foundation/foundation.tooltips.js" {% templatetag closeblock %}
        <script type="text/javascript" src="{% templatetag openvariable %} ASSET_URL {% templatetag closevariable %}"></script>
    {% templatetag openblock %} endassets {% templatetag closeblock %}
    <script>$(document).foundation();</script>
    {% templatetag openblock %} block extrascripts {% templatetag closeblock %}
    {% templatetag openblock %} endblock {% templatetag closeblock %}
</body>
</html>
